<a href="https://colab.research.google.com/github/sariya23/Halava/blob/main/%D0%9A%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Контрольная работа

In [1]:
import pandas as pd
import numpy as np

### Датафрейм с которым вы будете сегодня работать

In [55]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [ ]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [ ]:
#surname    - Фамилия клиента 
#name       - Имя клиента
#tarif      - Тариф клиента
#balance	- Баланс клиента
#age	    - Возраст клиента
#sms	    - Количество отправленных СМС
#voice	    - Количество секунд разговора (звонки)
#city	    - Город клиента
#phone      - Марка телефона клиента

## Ответы на вопросы загрузите на степик

### Вопрос 1: определите средний возраст клиента

In [ ]:
df.loc[:, 'age'].mean()
df['age'].mean()

48.6

### Вопрос 2: на каком тарифе средний возраст клиента наименьший

In [ ]:
# for i in df[['tarif', 'age']]:
#     print(i)
df.groupby('tarif').mean()

                        balance        age        sms        voice
tarif
ВИП                 3812.500000  50.500000  73.000000  6773.000000
Все за 300          3745.000000  50.666667  56.666667  4686.666667
Всё за 250 (архив)  3117.500000  30.000000  12.500000  8037.000000
Всё за 500          2781.428571  45.571429  48.714286  4893.142857
Всё за 800          3183.750000  45.750000  57.000000  4129.375000
Корпоративный       2221.000000  70.250000  48.500000  5980.000000
Промо               2600.250000  44.750000  50.750000  3447.500000

### Вопрос 3: с какого города больше всего клиентов?

In [ ]:
# df[df['city'] == 'Moscow']

# for i in pd.unique(df['city']):
#     print(df[df['city'] == i].shape, i)

df.city.value_counts().idxmax()

'Moscow'

### Вопрос 4: на каком тарифе отправили больше всего СМС?

In [ ]:
df.groupby('tarif').sum().sms.idxmax()

'Всё за 800'

### Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 (включительно)

In [ ]:
df[df['age'] <= 40].phone.value_counts()

Xiaomi     6
Huawei     2
Samsung    1
Apple      1
Name: phone, dtype: int64

### Вопрос 6: определите самую популярную марку смартфона у пользователей старше 40

### Вопрос 7: В каком городе клиенты меньше всего отправляют СМС

In [ ]:
print(df.groupby('city').sum().sms.idxmin())

d = {}

for i in pd.unique(df.city):
    d[i] = df[df['city'] == i].sms.values.sum()
print(min(d.items(), key=lambda x: x[1])[0])

Vladivostok
Vladivostok

### Вопрос 8: В каком городе клиенты больше всего говорят по телефону?

In [ ]:
df.groupby('city').sum().voice.idxmax()

'Moscow'

### Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.

In [ ]:
df['sms'].sum() * 3

4605

### Вопрос 10: Сколько заработала фирма на СМС сообщениях? Тарифная сетка:
#### ВИП                   - 1 рубль за СМС
####  Все за 300            - 2 рубля за СМС
####  Всё за 500            - 3 рубля за СМС
####  Всё за 800            - 4 рубля за СМС
####  Промо                 - 7 рублей за СМС
####  Корпоративный         - 0 рублей за СМС
####  Всё за 250 (архив)    - 5 рублей за СМС

In [ ]:
d = 0
price = {'ВИП': 1, 'Все за 300': 2, 'Всё за 500': 3, 'Всё за 800': 4, 'Промо': 7, 'Корпоративный': 0, 'Всё за 250 (архив)': 5}

# for i in pd.unique(df.tarif):
#     d += df[df['tarif'] == i].sms.values.sum() * price[i]
# d
(df.groupby('tarif').sum().sms * [1, 2, 5, 3, 4, 0, 7]).sum()

4879

### Вопрос 11: Определите процент клиентов, у которых баланс выше 4000

In [ ]:
df[df['balance'] > 4000].shape[0] / df.shape[0]

0.3

### Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'

In [ ]:
df[(df['balance'] > 2000) & (df['tarif'] == 'Всё за 500')].shape[0] / df.shape[0]

0.16666666666666666

### Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?

In [ ]:
df[(df['city'] == 'Moscow') & (df['phone'] == 'Apple')].

   surname     name       tarif  balance  age  sms  voice    city  phone
8   Petrov  Nikolay         ВИП     4810   72   88   7188  Moscow  Apple
15  Kozlov     Stas  Всё за 800     4565   59   82   3168  Moscow  Apple

### Вопрос 14: Самое распространённое имя среди наших клиентов?

In [ ]:
df['name'].value_counts().idxmax()

'Sergey'

### Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока

In [ ]:
df[(df['phone'] == 'Apple') & (df['city'] == 'Vladivostok')].shape[0] / df.shape[0]

0.03333333333333333

In [4]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     2815   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     3634   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      410   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow  Samsung

In [11]:
df['client_name'] = df['surname'] + ' ' + df['name']

In [12]:
df.head()

,surname,name,tarif,balance,age,sms,voice,city,phone,client_name
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,Girev Andrey
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,Bykin Stas
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,Ivanov Alex
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,Andreev Sergey
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,Girev Stas

In [23]:
d = {True: 'A', False: 'B'}

df['group'] = np.where(df['age'] <= 25, 'A', np.where((df['age'] >= 26) & (df['age'] <= 40), 'B', 'C'))

In [35]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     2815   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     3634   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      410   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow  Samsung

In [36]:
df['balance'] = df['balance'].apply(lambda x: np.round((x / 60)))

In [37]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     47.0   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     61.0   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      7.0   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     33.0   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     83.0   43   61   8510  Moscow  Samsung

In [40]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     2815   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     3634   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      410   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow  Samsung

In [43]:
df['balance'] = df[df['city'] == 'Moscow'].balance - df[df['city'] == 'Moscow'].sms * 3

In [44]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП   2641.0   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300      NaN   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800    167.0   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500      NaN   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800   4786.0   43   61   8510  Moscow  Samsung

In [46]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     2815   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     3634   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      410   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow  Samsung

In [48]:
df['balance'] = np.where(df['city'] == 'Moscow', df['balance'] - df['sms'] * 3, df['balance'])

In [49]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung

In [51]:
df.head()

   surname    name       tarif  balance  age  sms  voice    city    phone
0    Girev  Andrey         ВИП     2815   29   58   6358  Moscow   Xiaomi
1    Bykin    Stas  Все за 300     3634   37   78    602   Kazan  Samsung
2   Ivanov    Alex  Всё за 800      410   47   81   3582  Moscow   Huawei
3  Andreev  Sergey  Всё за 500     1981   75   98   5442   Kazan    Apple
4    Girev    Stas  Всё за 800     4969   43   61   8510  Moscow  Samsung

In [57]:
df['balance'][df['city'] == 'Moscow']

0     2815
2      410
4     4969
5     4308
8     4810
15    4565
17    3764
21    2642
23    4100
27    2644
29    2785
Name: balance, dtype: int64

In [53]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung

In [59]:
np.load(r"C:\Users\dayyy\Downloads\data.npz")

FileNotFoundError: ignored